<!DOCTYPE HTML5>
<html>
<head>
    <title>{% block title %}Hi-Tech{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    
  
    <div class="main">

        <div class="grid">

            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>

            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>

            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>

            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            <div class="items">
                <img src="https://freelogopng.com/images/all_img/1657952641google-logo-png-image.png">
                <div>hello</div>
            </div>
            
        </div>



    </div>
    


    {% include 'footer.html' %}

</body>
</html>