{% extends 'base.html' %}
{% load static %}

{% block title %}Hi-Tech | Technology that just works{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/intro.css' %}?v=20260819">
    <link rel="stylesheet" href="{% static 'css/marquee.css' %}?v=20260819">
    <link rel="stylesheet" href="{% static 'css/giant-blocks.css' %}?v=20260819">
    <link rel="stylesheet" href="{% static 'css/five-layer.css' %}?v=20260819">
    <link rel="stylesheet" href="{% static 'css/product-card.css' %}?v=20260819">
{% endblock %}

{% block content %}
    {% include 'home_page/intro.html' %}
    {% include 'home_page/marquee.html' %}
    {% include 'home_page/giant_blocks.html' %}
    {% include 'home_page/five_layer.html' %}
    {% include 'home_page/existing_content.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/five-layer.js' %}?v=20260819"></script>
{% endblock %}
