 {% block intro %}
 <br><br>
<div class="main">

    <div class="intro_lines">
        <div style="text-align:center;"><h1>AI-Native Cloud</h1></div>
        <div style="text-align:center;">One platform, fully integrated from silicon to agent, with economics that improve as</div>
        <div style="text-align:center;" >you scale</div>
    {% comment %} <br> {% endcomment %}

        <div class="btn">
            <button type="button" id="get_started">Get Started</button>
            <button type="button" id="explore">Explore Products</button>
            
        </div> 
    </div>
    <br><br>

    <div class="companies">
        <div>From real-time agents to trillion-token workloads, leaders in AI run on DigitalOcean.</div>
        <div>
            <marquee>hello all there i am archit sublok</marquee>
        </div>
    </div>
    

    <br><br>
     
    <div class="blocks">

        <div class="block1">
            <div><h1>67%</h1></div>
            <div><h2>lower cost</h2></div>
            <div>Workato runs 1T+ automation tasks on DigitalOcean's Inference Engine at 67% lower cost — with 67% higher throughput on the same workload</div>
            <div>Workato</div>
            <div>Learn more</div>
        </div>
    
        <div class="block2">
            <div><h1>2x</h1></div>
            <div><h2>inference throughput</h2></div>
            <div>Character.ai handles 1B+ queries per day with 2× production inference throughput on DigitalOcean's AMD Instinct™ GPUs.</div>
            <div>Character.ai</div>
            <div>Learn more</div>
        </div>
    
        <div class="block3">
            <div><h1>40%</h1></div>
            <div><h2>reduction in latency</h2></div>
            <div>Hippocratic AI runs healthcare agents on DigitalOcean, powering 20M+ patient interactions with 40% lower end-to-end P99 latency and 2 higher throughput.</div>
            <div>Hippocratic AI</div>
            <div>Learn more</div>
        </div> 
    
    </div> 
    
<div>

{% endblock  %}